.App {
  text-align: center;
}
.nav{
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
  border-radius: 10px;
}
h1 {
  text-align: center;
}
.top {
  margin: 30px;
  gap: 10px;
  display: flex;
  }
select {
  font-size: 20px;
}
.box {
  width: 95%;
  margin: auto;
  display: grid;
  gap: 10px;
}
.child {
  padding: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 10px;
}
img {
  width: 200px;
  margin: 15px;
}
.buttonbox {
  margin: 30px;
  text-align: center;
}
button {
  width: 80px;
  height: 40px;
  font-size: 20px;
  margin: 5px;
}
.edit{
  border-radius: 5px;
  color: white;
  background-color: rgb(21,128,141);
}
.edit:hover{
  color: rgb(21,128,141);
  background-color: white;
}
.delete{
  border-radius: 5px;
  color: white;
  background-color: red;
}
.delete:hover{
  color: red;
  background-color: white;
}
.Add{
  background-color: green;
  color: white;
  border-radius: 5px;

}
.Add:hover{
  color: green;
  background-color: white;
}
@media screen and (min-width: 1200px) {
  .box {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 900px) and (max-width: 1199px) {
  .box {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 600px) and (max-width: 899px) {
  .box {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 320px) and (max-width: 599px) {
  .box {
    grid-template-columns: repeat(1, 1fr);
  }
  .child {
    width: 250px;
    margin-left: 30px;
  }
}

.addForm {
  margin: auto;
  margin-bottom: 30px;
}
form {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(54, 54, 59, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 5px;
  padding: 20px;
  gap: 10px;
}
input {
  width: 100%;
  height: 50px;
  font-size: 20px;
}

@media screen and (min-width: 600px){
  .addForm{
    width: 30%;
  }
}